name: deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pesde
        uses: lumin-org/setup-pesde@v0.4.1

      - name: Rojo Setup
        uses: notthebestdev/setup-rojo@v1

      - name: Rojo Build
        run: rojo build -o ./rojo-output.rbxl

      - name: Build
        run: ./build
      
      - name: Publish to Roblox
        uses: Ulferno/upload-to-roblox@v1.0.4
        with:
          universeId: 7708271874
          placeId: 100717556333221
          api-key: ${{ secrets.CLOUD_API_KEY }}
          file: 'output.rbxl'
